body {
  background-color: #2f4f4f;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding-top: 30px;
}

.title {
  background-color: #3b1f1f;
  color: white;
 display: inline;
  padding: 10px 30px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.outer-box {
  border: 5px solid red;
  background-color: black;
  padding: 20px;
  
}

.content-box {
  background-color: #40e0d0;
  padding: 20px;
  margin: 20px 0;
  text-align: left;
  color: black;
  font-weight: bold;
}